- content_for :body do
  .row
    .span6
      %h2 Matt Abel
      .row
        .span2
          = image_tag 'matt.jpg', :class => 'prof-pic'
        .span2  
          %h4 Matt Abel, our impeccable Chair, is a brother of Chi Phi and former resident of MacGregor. A Buckeye Course 16, he dreams of being the next Neil Armstrong, and was solely responsible for doubling the number of views on the Red Bull Stratos YouTube clip. Few know that this permanently Hollister-clad fellow is also closet a entomologist. As a leader, he was enthusiastic, but then again he is known to his friends as being constantly intoxicated (on life, of course). Matt also served as bodyguard to the Ring designs and took this role very seriously, frequenting the gym to before and after meetings. At MIT, he can also be spotted managing SBC’s EEL group, Unifying, and being ‘murican. 
    .span6
      %h2 Michelle Lee
      .row
        .span2
          = image_tag 'michelle.jpg', :class => 'prof-pic'
        .span2  
          %h3 Michelle Lee hails from across the pond in London; here at MIT she studies Course 2A and is an SK living in Maseeh. Difficult to impress, Michelle keeps RingComm's feet on the ground and brings much needed skepticism to some of our more ridiculous ideas. During a factory tour, she was compared to Kim Jong-il of the popular Kim Jong-il Looking at Things tumblr. Ain't nothing too fancy for Michelle Lee to handle. 
  .row
    .span6
      %h2 Meghan Torrence
      .row
        .span2
          = image_tag 'meghan.jpg', :class => 'prof-pic'
        .span2  
          %h3 And this is her profile
    .span6
      %h2 Michael Flynn
      .row
        .span2
          = image_tag 'michael.jpg', :class => 'prof-pic'
        .span2  
          %h3 Michael is our resident treasurer for the 2015 Ring Committee. Originally hailing from the beautiful state of NJ, Michael soon realized he was not talented at first pumping. As a result, he had to forgo the glorious Jersey Shore for the dingy beaches of Hawaii where he now calls home. While at MIT, Michael can be frequently spotted wearing no shoes near East Campus and likes to leave a few buttons undone on his shirt to let his wild chest hair roam free. As a physics major, he was the committee’s go-to person on matters the rest of the committee couldn’t understand. 
  .row
    .span6
      %h2 John Queeny
      .row
        .span2
          = image_tag 'john.jpg', :class => 'prof-pic'
        .span2  
          %h3 And this is his profile
    .span6
      %h2 Kira Kopacz
      .row
        .span2
          = image_tag 'kira.jpg', :class => 'prof-pic'
        .span2  
          %h3 Coming from the great state of New Jersey, Kira is a crucial member of your 2015 Ring Committee. She effortlessly tackles mind-boggling questions like “is Taylor Swift actually pretty? Do liquid diets work? And does our Beaver have a yoga-pant suitable butt?” With Kira’s eye for beauty, you are guaranteed to have a flawless Brass Rat. At MIT, Kira can be found either at Burton Connor or at the Theta house saving precious lives as a MedLink, studying for 9.01, or even competing in beauty pageants.  
  .row
    .span6
      %h2 Colleen Gabel
      .row
        .span2
          = image_tag 'colleen.jpg', :class => 'prof-pic'
        .span2  
          %h3 Colleen Gabel grew up 16.4 miles away from Boston in Marblehead, Massachusetts where she spent her summers lifeguarding and being a camp counselor when she wasn’t drawing chair conformations. As a freshman, Colleen would be found in the lounge of Baker First West and would become an active leader of that community. She chose chemistry as her true love at MIT, but is sometimes caught thinking about Course 8. As a sophomore, Colleen can be found working at a hospital, healthcare startup, or saving someone’s life as a pre-med student. When she’s not busy saving lives or playing with puppies, Colleen enjoys going to concerts, hanging out with friends, and enjoying life. 
    .span6
      %h2 Margo Dawes
      .row
        .span2
          = image_tag 'margo.jpg', :class => 'prof-pic'
        .span2  
          %h3 Margo Dawes is a Course 11 and 1 sophomore from Frederick, Maryland. She lives on 4th West in East Campus, where she is often seen dressed in bright red one-piece pajamas. Like any good artist/engineer, Margo likes to spend her time designing cool things, and her sketches have contributed a lot to the final design of the 2015 ring. When she isn't at work drawing for RingComm, Margo spends her time crushing her political opponents into submission and consuming highly sugary Hostess-brand dessert items. The potential disappearance of Hostess this semester has caused her a great deal of grief.
  .row
    .span4.offset3
      %h2 Delian Asparouhov
      .row
        .span2
          = image_tag 'delian.jpg', :class => 'prof-pic'
        .span2  
          %h3 Delian Asparouhov is a course 6 mastermind and the Ring Committee webmaster. When he isn't slaving away on the website, he dabbles in Bollywood dance, startups through MIT StartLabs, and setting fashion trends. Delian dreams of a world in which everyone always wears shorts, neon tank tops, and one black and one white shoe. His fashion views have been influenced heavily by his upbringing in Utah and California. One of the things that Delian holds closest to his heart is his fraternity, Phi Sigma Kappa. There's a great chance that he will be at least 30 minutes late to any commitment, because on the way he passed another person and felt obligated to learn their life story. 
      
