- content_for :body do
  .row
    .span6
      %h2 Matt Abel
      .row
        .span2
          = image_tag 'matt.jpg', :width => 200, :height => 200, :class => 'prof-pic'
        .span2  
          %h3 And this is his profile
    .span6
      %h2 Michelle Lee
      .row
        .span2
          = image_tag 'michelle.jpg', :width => 200, :height => 200, :class => 'prof-pic'
        .span2  
          %h3 And this is her profile
  .row
    .span6
      %h2 Meghan Torrence
      .row
        .span2
          = image_tag 'meghan.jpg', :width => 200, :height => 200, :class => 'prof-pic'
        .span2  
          %h3 And this is her profile
    .span6
      %h2 Michael Flynn
      .row
        .span2
          = image_tag 'michael.jpg', :width => 200, :height => 200, :class => 'prof-pic'
        .span2  
          %h3 And this is her profile
  .row
    .span6
      %h2 John Queeny
      .row
        .span2
          = image_tag 'john.jpg', :width => 200, :height => 200, :class => 'prof-pic'
        .span2  
          %h3 And this is his profile
    .span6
      %h2 Kira Kopacz
      .row
        .span2
          = image_tag 'kira.jpg', :width => 200, :height => 200, :class => 'prof-pic'
        .span2  
          %h3 And this is her profile
  .row
    .span6
      %h2 Colleen Gabel
      .row
        .span2
          = image_tag 'colleen.jpg', :width => 200, :height => 200, :class => 'prof-pic'
        .span2  
          %h3 And this is her profile
    .span6
      %h2 Margo Dawes
      .row
        .span2
          = image_tag 'margo.jpg', :width => 200, :height => 200, :class => 'prof-pic'
        .span2  
          %h3 And this is her profile
  .row
    .span4.offset3
      %h2 Delian Asparouhov
      .row
        .span2
          = image_tag 'delian.jpg', :width => 200, :height => 200, :class => 'prof-pic'
        .span2  
          %h3 And this is his profile
      
