- content_for :navbar do
  %u1.nav
    %li.active
      %a{:href => "/"}
        Home
    %li
      %a{:href => "/design"}
        Design
    %li
      %a{:href => "/pricing"}
        Pricing
    %li
      %a{:href => "https://www.herffjones.com/files/dmfile/HERFFJONESRINGWARRANTYFORM.pdf"}
        Warranty/Resizing
- content_for :body do
  %script{:type => 'text/javascript'}
    :plain
      $(document).ready(function () {
        var now = new Date().getTime();
        var end_works_date1 = new Date(2013, 4, 2, 18, 0, 0, 0).getTime(); 
        var countdown1 = new Countdown({
          holder_id : "countdownHolder1",
          holder_width: 600,
          start_work: now,
          end_work : end_works_date1,
          show_working_dates: true,
          show_progress_bar: false
        });
      });
  .boston_picture
    #countdownHolder1
    #logo_holder
      =image_tag 'logo.png', :class => 'logo'
  #team
    #team_title.row
      %h2.center.helvetica The Committee
    .row-fluid
      .span3
        .row
          .span12
            %h4.center Matt Abel
            %h5.center Chair
            .center= image_tag 'matt.png', :class => 'prof-pic' 
        .row
          .span12
            %h6.center Matt Abel, our impeckable Chair, is a brother of Chi Phi and former resident of MacGregor. A Buckeye Course 16, he dreams of being the next Neil Armstrong, and was solely responsible for doubling the number of views on the Red Bull Stratos YouTube clip. Few know that this permanently Hollister-clad fellow is also a closet entomologist. As a leader, he was enthusiastic, but then again he is known to his friends as being constantly intoxicated (on life, of course). Matt also served as bodyguard to the Ring designs and took this role very seriously, frequenting the gym before and after meetings. At MIT, he can also be spotted managing SBC’s EEL group, Unifying, and being ‘murican. 
      .span3
        .row
          .span12
            %h4.center Michelle Lee
            %h5.center Vice-Chair
        .row
          .span12
            .center= image_tag 'michelle.png', :class => 'prof-pic'
            %h6.center Michelle Lee hails from across the pond in London; here at MIT she studies Course 2A and is an SK living in Maseeh. Difficult to impress, Michelle keeps RingComm's feet on the ground and brings much needed skepticism to some of our more ridiculous ideas. Ain't nothing too fancy for Michelle Lee to handle. 
      .span3
        .row
          .span12
            %h4.center Meghan Torrence
            %h5.center Unicorn Enthusiast
        .row
          .span12
            .center= image_tag 'meghan.png', :class => 'prof-pic'
            %h6.center Meghan Torrence comes from a great state of Pennsylvania. Meghan is world-renowned for her horseback riding skills. It has even been rumored that during her birth she galloped away from her parents on a unicorn. When asked why, Meghan responded “There are trees that need to be hugged”. Meghan is also MIT’s only double-major in course 1A and 7, though Meghan is still unsure what course 1 is. Something to do with buildings?          
      .span3
        .row
          .span12
            %h4.center John Queeney
            %h5.center Moustache Extraordinaire
        .row
          .span12
            .center= image_tag 'queeny.png', :class => 'prof-pic'
            %h6.center Jack Queeney is a true MechE and hails from Cape Elizabeth, Maine-- the land of lobster rolls, yard sales, L.L. Bean, and windjammers. Off of campus, he is a brother of the Chi Phi fraternity. In his spare time, he dabbles in archery, basketball, bicycling, boating, calligraphy, cave diving, cooking, dominoes, gardening, home repair, iceskating, model trains, origami, parkour, running, sand castles, skiing, woodworking, zumba, and pretty much every other possible hobby. Little do most people know, Queeney is an expert potato cannon builder. Bolstering the Northeast’s  largest noggin, he has been known to sport the most extraordinary of all mustaches. And by extraordinary we mean just plain sketchy.
    .row-fluid      
      .span3
        .row
          .span12
            %h4.center Kira Kopacz
            %h5.center Jersey Shorerer
        .row
          .span12
            .center= image_tag 'kira.png', :class => 'prof-pic'
            %h6.center Coming from the great state of New Jersey, Kira is a crucial member of your 2015 Ring Committee. She effortlessly tackles mind-boggling questions like “is Taylor Swift actually pretty? Do liquid diets work? And does our Beaver have a yoga-pant suitable butt?” With Kira’s eye for beauty, you are guaranteed to have a flawless Brass Rat. At MIT, Kira can be found either at Burton Connor or at the Theta house saving precious lives as a MedLink, studying for 9.01, or even competing in beauty pageants.  
      .span3
        .row
          .span12
            %h4.center Michael Flynn
            %h5.center Treasurer
        .row
          .span12
            .center= image_tag 'michael.png', :class => 'prof-pic'
            %h6.center Michael is our resident treasurer for the 2015 Ring Committee. Originally hailing from the beautiful state of NJ, Michael soon realized he was not talented at first pumping. As a result, he had to forgo the glorious Jersey Shore for the dingy beaches of Hawaii where he now calls home. While at MIT, Michael can be frequently spotted wearing no shoes near East Campus and likes to leave a few buttons undone on his shirt to let his wild chest hair roam free. As a physics major, he was the committee’s go-to person on matters the rest of the committee couldn’t understand. 
      .span3
        .row
          .span12
            %h4.center Colleen Gabel
            %h5.center Meth Synthesizer
        .row
          .span12
            .center= image_tag 'colleen.png', :class => 'prof-pic'
            %h6.center Colleen Gabel grew up 16.4 miles away from Boston in Marblehead, Massachusetts where she spent her summers lifeguarding and being a camp counselor when she wasn’t drawing chair conformations. As a freshman, Colleen would be found in the lounge of Baker First West and would become an active leader of that community. She chose chemistry as her true love at MIT, but is sometimes caught thinking about Course 8. As a sophomore, Colleen can be found working at a hospital, healthcare startup, or saving someone’s life as a pre-med student. When she’s not busy saving lives or playing with puppies, Colleen enjoys going to concerts, hanging out with friends, and enjoying life. 
      .span3
        .row
          .span12
            %h4.center Margo Dawes
            %h5.center Teddy Bear
        .row
          .span12
            .center= image_tag 'margo.png', :class => 'prof-pic'
            %h6.center Margo Dawes is a Course 11 and 1 sophomore from Frederick, Maryland. She lives on 4th West in East Campus, where she is often seen dressed in bright red one-piece pajamas. Like any good artist/engineer, Margo likes to spend her time designing cool things, and her sketches have contributed a lot to the final design of the 2015 ring. When she isn't at work drawing for RingComm, Margo spends her time crushing her political opponents into submission and consuming highly sugary Hostess-brand dessert items. The potential disappearance of Hostess this semester has caused her a great deal of grief.
    .row-fluid
      .span6.offset3
        .row
          .span12
            %h4.center Delian Asparouhov
            %h5.center Webmaster
        .row
          .span12
            .center= image_tag 'delian.png', :class => 'prof-pic'
            %h6.center Delian Asparouhov is a course 6 mastermind and the Ring Committee webmaster. When he isn't slaving away on the website, he dabbles in Bollywood dance, startups through MIT StartLabs, and setting fashion trends. Delian dreams of a world in which everyone always wears shorts, neon tank tops, and one black and one white shoe. His fashion views have been influenced heavily by his upbringing in Utah and California. One of the things that Delian holds closest to his heart is his fraternity, Phi Sigma Kappa. There's a great chance that he will be at least 30 minutes late to any commitment, because on the way he passed another person and felt obligated to learn their life story. 
    #story_title.row
      %h2.center.helvetica 
        The Story
    .row-fluid
      .span8.offset2
        %h6 
          In the Spring of 1929, C. Brigham Allen called upon one member of the classes of 1930, 1931, and 1932 and entrusted them with the task of designing a ring that the Institute Committee would ultimately approve as the Standard Technology Ring. Controversy soon arose over whether to honor the Beaver or the Great Dome on the bezel, and the status of the Beaver as the Institute’s mascot was even questioned. The Committee looked to the original discussion over the mascot, calling upon the now famous defense of the Beaver by Lester Gardner, Class of 1897:
          %br
          %br
          %i 
            “We first thought of the kangaroo which, like Tech, goes forward in leaps and bounds. Then we considered the elephant. He is wise, patient, strong, hard working, like all who graduate from Tech, has a good hide. But neither of these were American animals. We turned to Mr. Hornady's book on the animals of North America and instantly chose the beaver. The beaver not only typifies the Tech (student), but his habits are peculiarly our own. The beaver is noted for his engineering, mechanical skills, and industry. His habits are nocturnal. He does his best work in the dark."
          %br
          %br
          Citing the fact that many other schools had buildings similar to our Great Dome, the Committee ultimately decided to honor our hard-working and industrious mascot on the ring—and the Brass Rat was born. Ever since, each class has appointed its own Ring Committee, which still has the same fundamental mission: to design a ring that will inspire us while we are here, unite us once we leave, and, above all else, unmistakably symbolize the Massachusetts Institute of Technology.
    #story_title.row
      %h2.center.helvetica 
        The Rat of Old (1930)
    .row-fluid
      .span4.offset1
        %h4.center 
          First Brass Rat Bezel
        =image_tag 'firstBezel.jpg', :class => 'of_old'
      .span4.offset2
        %h4.center 
          First Brass Rat Shank
        =image_tag 'firstShank.jpg', :class => 'of_old'