<!DOCTYPE html>
%html
  %head
    %title MIT Class of 2015 Ringcomm
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38585517-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.btn.btn-navbar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %a.brand#top_brand{:href => '#'}
          MIT 2015 RingComm
        = yield :navbar
    #inner-wrapper.container
      = yield :body
      #footer
        %h6.center © 2013 Delian Asparouhov
