<!DOCTYPE html>
%html
  %head
    %title Ringcomm
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.btn.btn-navbar
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %a.brand#top_brand{:href => '#'}
          2015 RingComm
    #inner-wrapper.container
      = yield :body
